@inject ProductsDataService ProductDS

<div style="margin: 1em;">
    <IgbGrid Data="Products"
             PrimaryKey="@nameof(Product.ProductID)"
             AutoGenerate="false" Height="500px"
             DisplayDensity="DisplayDensity.Compact"
             RowSelection="GridSelectionMode.Single"
             RowClassesScript="RowClassesHandler">
        <IgbColumn Field="@nameof(Product.ProductID)" Header="製品ID" />
        <IgbColumn Field="@nameof(Product.ProductName)" Header="製品名" />
        <IgbColumn Field="@nameof(Product.StockedAmount)" Header="在庫数" />
    </IgbGrid>
</div>

@code {
    private IEnumerable<Product>? Products = null;

    protected override async Task OnInitializedAsync()
    {
        Products = await ProductDS.GetProductsAsync();
    }
}