::deep .low {
    background-color: pink;
}

::deep .high {
    background-color: lightgreen;
}

/* マウスホバーしている場合のスタイル定義 */
::deep igx-grid-row.low:hover {
    background-color: hotpink;
}

::deep igx-grid-row.high:hover {
    background-color: limegreen;
}

/* 行選択されている場合のスタイル定義 */
::deep igx-grid-row[aria-selected="true"].low {
    background-color: hotpink;
}

::deep igx-grid-row[aria-selected="true"].high {
    background-color: limegreen;
}

/* 行選択されていて、かつ、マウスホバーしている場合のスタイル定義 */
::deep igx-grid-row[aria-selected="true"].low:hover {
    background-color: deeppink;
}

::deep igx-grid-row[aria-selected="true"].high:hover {
    background-color: mediumseagreen;
}
